ActionMailer::Base.smtp_settings = {
  :address              => "smtp.gmail.com",
  :port                 => 587,
  :domain               => "yoursite.com",
  :user_name            => "email@yoursite.com",
  :password             => "yourpassword",
  :authentication       => "plain",
  :enable_starttls_auto => true
}